@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback");

@import "tailwindcss";
/* @import "./additional-styles/utility-patterns.css" layer(components); */

@plugin "@tailwindcss/forms" {
  strategy: base;
}

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@custom-variant sidebar-expanded (&:is(.sidebar-expanded *));

@theme {
  --shadow-sm: 0 1px 1px 0 rgb(0 0 0 / 0.05), 0 1px 2px 0 rgb(0 0 0 / 0.02);

  --font-inter: "Inter", "sans-serif";
  /* custome font size */
  /* --text-xs: 0.75rem;
  --text-xs--line-height: 1.5;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5715;
  --text-base: 1rem;
  --text-base--line-height: 1.5;
  --text-base--letter-spacing: -0.01em;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.5;
  --text-lg--letter-spacing: -0.01em;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.5;
  --text-xl--letter-spacing: -0.01em;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.33;
  --text-2xl--letter-spacing: -0.01em;
  --text-3xl: 1.88rem;
  --text-3xl--line-height: 1.33;
  --text-3xl--letter-spacing: -0.01em;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 1.25;
  --text-4xl--letter-spacing: -0.02em;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1.25;
  --text-5xl--letter-spacing: -0.02em;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1.2;
  --text-6xl--letter-spacing: -0.02em; */
  /*  */
  /* custome size */
  --breakpoint-xs: 480px;
  --width-120: 7.5rem;
  --height-120: 7.5rem;

  /* custome color */
  --color-custom-blue: #1f6893;
  --color-custom-blue-secundry: #01425a;
  --color-secundary: #406b88;
  --color-custome-red: #f78282;
  --color-purple-clouds: #6965eb;
  --color-custome-green: #22aa52;
  --color-custome-gray: #878a99;
  --color-custome-gray-secundry: #2c3e5024;
  --bs-btn-bg: #f46a6a;
  --bs-btn-hover-bg: #cf5a5a;
  --shadow-box-shadow: 0 0 4px rgba(15, 34, 58, 0.12);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.title {
  font-family: var(--font-inter);
  font-weight: bold;
  font-size: var(--text-2xl);
  line-height: var(--text-2xl--line-height);
  letter-spacing: var(--text-2xl--letter-spacing);
  color: var(--color-custom-blue-secundry);
}

.fullW {
  width: calc(100vw - 50px);
}

.breadcrumb-item::before {
  float: left;
  padding-right: 5px;
  /* color: var(--bs-breadcrumb-divider-color); */
  content: var(--bs-breadcrumb-divider, "/");
}

.transition {
  transition: all 0.3s ease-in-out;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

/* pagination in data Table */
#DataTables_Table_0_wrapper {
  @apply space-y-4;
  table.data-table-general {
    td,
    th {
      @apply border border-gray-200 text-center;
    }
  }
  .dataTables_paginate {
    ul {
      @apply gap-2.5 flex justify-center items-center;

      li {
        @apply px-4 py-2 mx-1 bg-gray-200 hover:bg-gray-300 text-indigo-500 rounded transition duration-200;
      }
    }
  }
}

/*  */
.edit {
  @apply text-xl cursor-pointer transition p-1.5 hover:bg-gray-200 rounded-md hover:text-blue-600;
}

.trash {
  @apply text-xl cursor-pointer transition p-1.5 hover:bg-gray-200 rounded-md hover:text-red-500;
}

.show {
  @apply text-xl cursor-pointer transition p-1.5 hover:bg-gray-200 rounded-md hover:text-amber-400;
}

.custome-table-border {
  td,
  th {
    @apply border border-gray-200 text-center;
  }
  /* @apply border border-gray-200; */
}

.pages_table {
  @apply min-h-[700px] rounded bg-white shadow p-4;
}
.container_fluid {
  @apply p-4;
  /* margin: 0 auto !important; */
}
